In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float
import pandas as pd

In [2]:
df_core = pd.read_csv('HR_Datasets/human-resources-data-set/HRDataset_v9.csv')
df_core.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 29 columns):
LastName            310 non-null object
FirstName           310 non-null object
EmployeeNumber      310 non-null int64
MarriedID           310 non-null int64
MaritalStatusID     310 non-null int64
GenderID            310 non-null int64
EmpStatusID         310 non-null int64
DeptID              310 non-null int64
PerfScoreID         310 non-null int64
Age                 310 non-null int64
PayRate             310 non-null float64
State               310 non-null object
Zip                 310 non-null int64
DOB                 310 non-null object
Sex                 310 non-null object
MaritalDesc         310 non-null object
CitizenDesc         310 non-null object
Hispanic_Latino     310 non-null object
RaceDesc            310 non-null object
HireDate            310 non-null object
DaysEmployed        310 non-null int64
TerminationDate     310 non-null object
ReasonForTerm       310 non-null object
EmploymentStatus    310 non-null object
Department          310 non-null object
Position            310 non-null object
ManagerName         310 non-null object
EmployeeSource      310 non-null object
PerformanceScore    310 non-null object
dtypes: float64(1), int64(10), object(18)
memory usage: 70.3+ KB

In [3]:
df_prod =  pd.read_csv('HR_Datasets/human-resources-data-set/production_staff.csv')
df_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 16 columns):
LastName               209 non-null object
FirstName              209 non-null object
RaceDesc               209 non-null object
HireDate               209 non-null object
TermDate               209 non-null object
ReasonForTerm          209 non-null object
EmploymentStatus       209 non-null object
Department             209 non-null object
Position               209 non-null object
Pay                    209 non-null object
ManagerName            209 non-null object
PerformanceScore       209 non-null object
AbutmentsPerHourWk1    209 non-null int64
AbutmentsPerHourWk2    209 non-null int64
DailyErrorRate         209 non-null int64
Complaints_90Days      209 non-null int64
dtypes: int64(4), object(12)
memory usage: 26.2+ KB

In [4]:
df_costs = pd.read_csv('HR_Datasets/human-resources-data-set/recruiting_costs.csv')
df_costs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 13 columns):
EmploymentSource    22 non-null object
January_2018        22 non-null int64
February_2018       22 non-null int64
March_2018          22 non-null int64
April_2018          22 non-null int64
May_2018            22 non-null int64
June_2018           22 non-null int64
July_2018           22 non-null int64
August_2018         22 non-null int64
September_2018      22 non-null int64
October_2018        22 non-null int64
November_2018       22 non-null int64
December_2018       22 non-null int64
dtypes: int64(12), object(1)
memory usage: 2.3+ KB

In [5]:
df_salary = pd.read_csv('HR_Datasets/human-resources-data-set/salary_grid.csv')
df_salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
Position      12 non-null object
Salary_Min    12 non-null int64
Salary_Mid    12 non-null int64
Salary_Max    12 non-null int64
Hourly_Min    12 non-null float64
Hourly_Mid    12 non-null float64
Hourly_Max    12 non-null float64
dtypes: float64(3), int64(3), object(1)
memory usage: 752.0+ bytes

In [6]:
# Create an engine to the Dental Magic HR database file in MySql
engine = create_engine('sqlite:///Dental_Magic_HR_v9.sqlite')

In [7]:
# Create a connection to the engine called `conn`
conn = engine.connect()
# Use `declarative_base` from SQLAlchemy to model each table as an ORM class
Base = declarative_base()

In [8]:
# Specify all tables and the data types for each column of each table
class Employee_Data(Base):
    __tablename__ = 'Employee_Data'

    ID = Column(Integer, primary_key=True)    
    LastName = Column(Text)
    FirstName = Column(Text)    
    EmployeeNumber = Column(Integer)
    MarriedID = Column(Integer)
    MaritalStatusID = Column(Integer)
    GenderID = Column(Integer)
    EmpStatusID = Column(Integer)
    DeptID = Column(Integer)
    PerfScoreID = Column(Integer)
    Age = Column(Integer)
    PayRate = Column(Float)
    State = Column(Text)    
    Zip = Column(Integer)
    DOB = Column(Text)
    Sex = Column(Text) 
    MaritalDesc = Column(Text)
    CitizenDesc = Column(Text)
    Hispanic_Latino = Column(Text)
    RaceDesc = Column(Text)
    HireDate = Column(Text)
    DaysEmployed = Column(Integer)
    TerminationDate = Column(Text, nullable=True)
    ReasonForTerm = Column(Text)
    EmploymentStatus = Column(Text)
    Department = Column(Text)
    Position = Column(Text)
    ManagerName = Column(Text)
    EmployeeSource = Column(Text)
    PerformanceScore = Column(Text)

    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [9]:
class Production_Staff(Base):
    __tablename__ = 'Production_Staff'
    
    ID = Column(Integer, primary_key=True)    
    LastName = Column(Text)
    FirstName = Column(Text)
    RaceDesc = Column(Text)
    HireDate = Column(Text)
    TermDate = Column(Text, nullable=True)
    ReasonForTerm = Column(Text)
    EmploymentStatus = Column(Text)
    Department = Column(Text)
    Position = Column(Text)
    Pay = Column(Text)
    ManagerName = Column(Text)
    PerformanceScore = Column(Text)
    AbutmentsPerHourWk1 = Column(Float)
    AbutmentsPerHourWk2 = Column(Float)
    DailyErrorRate = Column(Float)
    Complaints_90Days = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [10]:
class Recruiting_Costs (Base):
    __tablename__ = 'Recruiting_Costs'
    
    ID = Column(Integer, primary_key=True)
    EmploymentSource = Column(Text)
    January_2018 = Column(Integer)
    February_2018 = Column(Integer)
    March_2018 = Column(Integer)
    April_2018 = Column(Integer)
    May_2018 = Column(Integer)
    June_2018 = Column(Integer)
    July_2018 = Column(Integer)
    August_2018 = Column(Integer)
    September_2018 = Column(Integer)
    October_2018 = Column(Integer)
    November_2018 = Column(Integer)
    December_2018 = Column(Integer)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [11]:
class Salary_Grid(Base):
    __tablename__ = 'Salary_Grid'

    ID = Column(Integer, primary_key=True)    
    Position = Column(Text)
    Salary_Min = Column(Integer)
    Salary_Mid = Column(Integer)
    Salary_Max = Column(Integer)
    Hourly_Min = Column(Float)
    Hourly_Mid = Column(Float)
    Hourly_Max = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [12]:
# Use `create_all` to create the demographics table in the database
Base.metadata.create_all(engine)
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [13]:
# Use Orient='records' to create a list of data to write for each table
data1 = df_core.to_dict(orient='records')
data1[0]

{'Age': 30,
 'CitizenDesc': 'US Citizen',
 'DOB': '11/24/1987',
 'DaysEmployed': 3317,
 'Department': 'Admin Offices',
 'DeptID': 1,
 'EmpStatusID': 1,
 'EmployeeNumber': 1103024456,
 'EmployeeSource': 'Diversity Job Fair',
 'EmploymentStatus': 'Active',
 'FirstName': ' Mia',
 'GenderID': 0,
 'HireDate': '10/27/2008',
 'Hispanic_Latino': 'No',
 'LastName': 'Brown',
 'ManagerName': 'Brandon R. LeBlanc',
 'MaritalDesc': 'Married',
 'MaritalStatusID': 1,
 'MarriedID': 1,
 'PayRate': 28.5,
 'PerfScoreID': 3,
 'PerformanceScore': 'Fully Meets',
 'Position': 'Accountant I',
 'RaceDesc': 'Black or African American',
 'ReasonForTerm': 'Not applicable - still employed',
 'Sex': 'Female',
 'State': 'MA',
 'TerminationDate': ' ',
 'Zip': 1450}

In [14]:
data2 = df_prod.to_dict(orient='records')
data2[0]

{'AbutmentsPerHourWk1': 0,
 'AbutmentsPerHourWk2': 0,
 'Complaints_90Days': 0,
 'DailyErrorRate': 0,
 'Department': 'Production       ',
 'EmploymentStatus': 'Active',
 'FirstName': ' Michael  ',
 'HireDate': '8/1/2011',
 'LastName': 'Albert',
 'ManagerName': 'Elisa Bramante',
 'Pay': '$54.50 ',
 'PerformanceScore': 'Fully Meets',
 'Position': 'Production Manager',
 'RaceDesc': 'White',
 'ReasonForTerm': 'Not applicable - still employed',
 'TermDate': ' '}

In [15]:
data3 = df_costs.to_dict(orient='records')
data3[0]

{'April_2018': 520,
 'August_2018': 612,
 'December_2018': 500,
 'EmploymentSource': 'Billboard',
 'February_2018': 520,
 'January_2018': 520,
 'July_2018': 612,
 'June_2018': 0,
 'March_2018': 520,
 'May_2018': 0,
 'November_2018': 910,
 'October_2018': 749,
 'September_2018': 729}

In [16]:
data4 = df_salary.to_dict(orient='records')
data4[0]

{'Hourly_Max': 24.04,
 'Hourly_Mid': 19.23,
 'Hourly_Min': 14.42,
 'Position': 'Administrative Assistant',
 'Salary_Max': 50000,
 'Salary_Mid': 40000,
 'Salary_Min': 30000}

In [17]:
# Save the references to each table as 'table' variables
table1 = sqlalchemy.Table('Employee_Data', metadata, autoload=True)

In [18]:
table2 = sqlalchemy.Table('Production_Staff', metadata, autoload=True)

In [19]:
table3 = sqlalchemy.Table('Recruiting_Costs', metadata, autoload=True)

In [20]:
table4 = sqlalchemy.Table('Salary_Grid', metadata, autoload=True)

In [21]:
# Use `table.insert()` to insert the data into each table
conn.execute(table1.insert(), data1)

In [22]:
conn.execute(table2.insert(), data2)

In [23]:
conn.execute(table3.insert(), data3)

In [24]:
conn.execute(table4.insert(), data4)

In [25]:
# Test that the insert works by fetching the first 5 rows of each table. 
conn.execute("select * from Employee_Data limit 5").fetchall()

[(1, 'Brown', ' Mia', 1103024456, 1, 1, 0, 1, 1, 3, 30, 28.5, 'MA', 1450, '11/24/1987', 'Female', 'Married', 'US Citizen', 'No', 'Black or African American', '10/27/2008', 3317, ' ', 'Not applicable - still employed', 'Active', 'Admin Offices', 'Accountant I', 'Brandon R. LeBlanc', 'Diversity Job Fair', 'Fully Meets'),
 (2, 'LaRotonda', ' William  ', 1106026572, 0, 2, 1, 1, 1, 3, 34, 23.0, 'MA', 1460, '4/26/1984', 'Male', 'Divorced', 'US Citizen', 'No', 'Black or African American', '1/6/2014', 1420, ' ', 'Not applicable - still employed', 'Active', 'Admin Offices', 'Accountant I', 'Brandon R. LeBlanc', 'Website Banner Ads', 'Fully Meets'),
 (3, 'Steans', ' Tyrone  ', 1302053333, 0, 0, 1, 1, 1, 3, 31, 29.0, 'MA', 2703, '9/1/1986', 'Male', 'Single', 'US Citizen', 'No', 'White', '9/29/2014', 1154, ' ', 'Not applicable - still employed', 'Active', 'Admin Offices', 'Accountant I', 'Brandon R. LeBlanc', 'Internet Search', 'Fully Meets'),
 (4, 'Howard', ' Estelle', 1211050782, 1, 1, 0, 1, 1, 9, 32, 21.5, 'MA', 2170, '9/16/1985', 'Female', 'Married', 'US Citizen', 'No', 'White', '2/16/2015', 58, ' ', 'Not applicable - still employed', 'Active', 'Admin Offices', 'Administrative Assistant', 'Brandon R. LeBlanc', 'Pay Per Click - Google', 'Not applicable - too early to review'),
 (5, 'Singh', ' Nan ', 1307059817, 0, 0, 0, 1, 1, 9, 30, 16.56, 'MA', 2330, '5/19/1988', 'Female', 'Single', 'US Citizen', 'No', 'White', '5/1/2015', 940, ' ', 'Not applicable - still employed', 'Active', 'Admin Offices', 'Administrative Assistant', 'Brandon R. LeBlanc', 'Website Banner Ads', 'Not applicable - too early to review')]

In [26]:
conn.execute("select * from Production_Staff limit 5").fetchall()

[(1, 'Albert', ' Michael  ', 'White', '8/1/2011', ' ', 'Not applicable - still employed', 'Active', 'Production       ', 'Production Manager', '$54.50 ', 'Elisa Bramante', 'Fully Meets', 0.0, 0.0, 0.0, 0.0),
 (2, 'Bozzi', ' Charles', 'Asian', '9/30/2013', '8/7/2014', 'retiring', 'Voluntarily Terminated', 'Production       ', 'Production Manager', '$50.50 ', 'Elisa Bramante', 'Fully Meets', 0.0, 0.0, 0.0, 0.0),
 (3, 'Butler', ' Webster  L', 'White', '1/28/2016', ' ', 'Not applicable - still employed', 'Active', 'Production       ', 'Production Manager', '$55.00 ', 'Elisa Bramante', 'Exceeds', 0.0, 0.0, 0.0, 0.0),
 (4, 'Dunn', ' Amy  ', 'White', '9/18/2014', ' ', 'Not applicable - still employed', 'Active', 'Production       ', 'Production Manager', '$51.00 ', 'Elisa Bramante', 'Fully Meets', 0.0, 0.0, 0.0, 0.0),
 (5, 'Gray', ' Elijiah  ', 'White', '6/2/2015', ' ', 'Not applicable - still employed', 'Active', 'Production       ', 'Production Manager', '$54.00 ', 'Elisa Bramante', 'Fully Meets', 0.0, 0.0, 0.0, 0.0)]

In [27]:
conn.execute("select * from Recruiting_Costs limit 5").fetchall()

[(1, 'Billboard', 520, 520, 520, 520, 0, 0, 612, 612, 729, 749, 910, 500),
 (2, 'Careerbuilder', 410, 410, 410, 820, 820, 410, 410, 820, 820, 1230, 820, 410),
 (3, 'Company Intranet - Partner', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (4, 'Diversity Job Fair', 0, 5129, 0, 0, 0, 0, 0, 4892, 0, 0, 0, 0),
 (5, 'Employee Referral', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)]

In [28]:
conn.execute("select * from Salary_Grid limit 5").fetchall()

[(1, 'Administrative Assistant', 30000, 40000, 50000, 14.42, 19.23, 24.04),
 (2, 'Sr. Administrative Assistant', 35000, 45000, 55000, 16.83, 21.63, 26.44),
 (3, 'Accountant I', 42274, 51425, 62299, 20.32, 24.72, 29.95),
 (4, 'Accountant II', 50490, 62158, 74658, 24.27, 29.88, 35.89),
 (5, 'Sr. Accountant', 63264, 76988, 92454, 30.42, 37.01, 44.45)]